<!DOCTYPE html>
<html>
<title>My Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/home.css">
<style>
    .mySlides {
        display: none
    }

    .demo {
        cursor: pointer
    }
</style>

<body>
<div style="background-color: lightslategrey">
    <div class="header_class">My Blog</div>
    <div class="float_right">Deepak Chaudhary</div>
    <div class="float_left">Menu</div>
</div>

{#<div>#}
{#    <a href="/myblog/form">Fill form</a>#}
{#</div>#}

<div class="w3-content" style="max-width:600px; padding-top: 2px" >
    <img class="mySlides w3-animate-fading" src="/static/_DSC0025.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0150.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0163.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0164.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0165.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0166.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0167.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0172.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0173.JPG" style="width:100%">

    <img class="mySlides w3-animate-fading" src="/static/_DSC0174.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0175.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0176.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0241.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0242.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0243.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0244.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0247.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0258.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0259.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0260.JPG" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/_DSC0268.JPG" style="width:100%">

</div>


<div style="background-color: darkred" align="center">
    <h1>Family</h1>
</div>

<div>
    <div class="box_class_left">
        <div class="div_float_left">
            <div>
                <img src="/static/_DSC0173.JPG" style="width:100%">
                <p></p>
                <img src="/static/_DSC0166.JPG" style="width:100%">
            </div>
        </div>

        <div class="div_float_right">
            <div>
                <img src="/static/_DSC0167.JPG" style="width:100%">
                <p></p>
                <img src="/static/_DSC0172.JPG" style="width:100%">
            </div>
        </div>
    </div>

    <div class="box_class_left">

        <div class="div_float_left">
            <div>
                <img src="/static/_DSC0025.JPG" style="width:100%">
                <p></p>
                <img src="/static/_DSC0163.JPG" style="width:100%">
            </div>
        </div>

        <div class="div_float_right">
            <div>
                <img src="/static/_DSC0150.JPG" style="width:100%">

                <p></p>
                <img src="/static/_DSC0164.JPG" style="width:100%">
            </div>
        </div>
    </div>

    <div class="box_class_left">
        <div class="div_float_left">
            <div>
                <img src="/static/_DSC0258.JPG" style="width:100%">
                <p></p>
                <img src="/static/_DSC0259.JPG" style="width:100%">
            </div>
        </div>

        <div class="div_float_right">
            <div>
                <img src="/static/_DSC0260.JPG" style="width:100%">
                <p></p>
                <img src="/static/_DSC0268.JPG" style="width:100%">
            </div>
        </div>
    </div>
</div>


<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000);
    }
</script>

</body>
</html>